<!--
 Copyright (c) 2014, 2019, Oracle and/or its affiliates.
 The Universal Permissive License (UPL), Version 1.0
 -->
<div class="oj-hybrid-padding">
  <h1></h1>
  <div>
    <div class="demo-grid-sizes demo-flex-display">
      <div class="oj-flex oj-flex-items-pad">
        <div class="oj-sm-12 oj-md-6  oj-lg-6 oj-flex-item ">
          <oj-label for="text-area">Input String</oj-label>
          <oj-text-area
            style="width: 100%; min-width: 400px"
            id="text-area"
            value="{{inputValue}}"
          >
          </oj-text-area>
          <oj-label for="button1">Show as :</oj-label>
          <oj-button id="SCATTER_PLOT" on-oj-action="[[showVisualization]]"
            >Scatter Plot</oj-button
          >
          <oj-button id="BOX_PLOT" on-oj-action="[[showVisualization]]"
            >Box plot</oj-button
          >
          <oj-button id="PIE_CHART" on-oj-action="[[showVisualization]]"
            >Pie chart</oj-button
          >
        </div>
        <div class="oj-sm-12 oj-md-6  oj-lg-6 oj-flex-item ">
          <div class="message-boder">
            <span data-bind="text: message"></span>
          </div>
        </div>
        <oj-bind-if test="[[selectGraph() === '']]"></oj-bind-if>
        <oj-bind-if test="[[selectGraph() === 'SCATTER_PLOT']]">
          <div
            class="oj-sm-12 oj-md-6  oj-lg- oj-flex-item chart-upper-padding"
          >
            <oj-chart
              id="Chart"
              type="scatter"
              data="[[scatterPlotDataProvider]]"
              hide-and-show-behavior="withRescale"
              hover-behavior="dim"
              animation-on-display="auto"
              legend="[[legendSections]]"
              x-axis="[[xAxis]]"
              y-axis="[[yAxis]]"
              style="max-width:600px;width:100%;height:calc(100vh*0.3);"
            >
              <template slot="itemTemplate" data-oj-as="item">
                <oj-chart-item
                  x="[[item.data.x]]"
                  y="[[item.data.y]]"
                  z="[[item.data.z]]"
                  group-id="[[ [item.data.group] ]]"
                  series-id="[[item.data.series]]"
                  color="[[ colorHandler.getValue(item.data.series) ]]"
                  marker-shape="[[ shapeHandler.getValue(item.data.group) ]]"
                  categories="[[ [ item.data.series, item.data.group] ]]"
                  short-desc='[[ item.data.series + " " + item.data.group + "<br/>X: " +
                            item.data.x + "<br/>Y: " + item.data.y + "<br/>Z: " + item.data.z ]]'
                >
                </oj-chart-item>
              </template>

              <template slot="seriesTemplate">
                <oj-chart-series display-in-legend="off"> </oj-chart-series>
              </template>
            </oj-chart>
          </div>
        </oj-bind-if>

        <oj-bind-if test="[[selectGraph() === 'BOX_PLOT']]">
          <div
            class="oj-sm-12 oj-md-6  oj-lg-6 oj-flex-item chart-upper-padding"
          >
            <oj-chart
              id="boxPlot1"
              type="boxPlot"
              data="[[boxPlotDataProvider]]"
              animation-on-display="auto"
              animation-on-data-change="auto"
              hide-and-show-behavior="withRescale"
              hidden-categories="{{hiddenCategories}}"
              orientation="vertical"
              x-axis="[[xAxis]]"
              y-axis="[[yAxis]]"
              style="width:100%;height:calc(100vh*0.3);float:left;"
            >
              <template slot="itemTemplate" data-oj-as="item">
                <oj-chart-item
                  low="[[item.data.low]]"
                  high="[[item.data.high]]"
                  q1="[[item.data.q1]]"
                  q2="[[item.data.q2]]"
                  q3="[[item.data.q3]]"
                  items="[[item.data.outliers]]"
                  group-id="[[ [item.data.group] ]]"
                  series-id="[[item.data.series]]"
                >
                </oj-chart-item>
              </template>
            </oj-chart>
          </div>
        </oj-bind-if>

          <oj-bind-if test="[[selectGraph() === 'PIE_CHART']]">
              <div class="oj-sm-12 oj-md-6  oj-lg-6 oj-flex-item">
                  <oj-chart
                          id="pieChart"
                          type="pie"
                          data="[[pieChartDataProvider]]"
                          animation-on-display="auto"
                          animation-on-data-change="auto"
                          style-defaults.three-d-effect="[[threeDValue]]"
                          hover-behavior="dim"
                          style="max-width:500px;width:100%;height:calc(100vh*0.3);"
                  >
                      <template slot="itemTemplate" data-oj-as="item">
                          <oj-chart-item
                                  value="[[item.data.value]]"
                                  group-id="[[ [item.data.group] ]]"
                                  series-id="[[item.data.series]]"
                          >
                          </oj-chart-item>
                      </template>
                  </oj-chart>
                  <!-- 2D/3D toggle button -->
                  <demo-chart-three-d-effect-control
                          id="threeDControl"
                          three-d-effect="{{threeDValue}}"
                          aria-controls="pieChart"
                  >
                  </demo-chart-three-d-effect-control>
              </div>

          </oj-bind-if>

          <div class="oj-sm-12 oj-md-6  oj-lg-6 oj-flex-item">
          <h3>Chart settings</h3>
          <div class="oj-flex">
            <div class="oj-flex-item">
              <oj-label for="xTitle">X axis title</oj-label>
              <oj-input-text id="xTitle" value="{{xTitle}}"> </oj-input-text>
            </div>
            <div class="oj-flex-item oj-lg-12 oj-xl-12">
              <oj-label for="yTitle">Y axis title</oj-label>
              <oj-input-text id="yTitle" value="{{yTitle}}"> </oj-input-text>
            </div>
            <div class="oj-flex-item oj-lg-12 oj-xl-12">
              <oj-label for="color1"> color</oj-label>
              <oj-input-text id="color1" value="{{color1}}"></oj-input-text>
            </div>
          </div>
        </div>

        <!--<oj-data-grid id="datagrid"-->
        <!--style="width:100%;max-width:302px;height:200px"-->
        <!--aria-label="Data Grid Cell Based Grid Demo"-->
        <!--data="[[dataSource]]">-->
        <!--</oj-data-grid>-->
      </div>
    </div>

    <!--<oj-chart id="barChart"-->
    <!--type="bar"-->
    <!--data="[[dataProvider]]"-->
    <!--animation-on-display="auto"-->
    <!--animation-on-data-change="auto"-->
    <!--hover-behavior="dim"-->
    <!--style="max-width:500px;width:100%;height:350px;">-->

    <!--<template slot='itemTemplate' data-oj-as='item'>-->
    <!--<oj-chart-item-->
    <!--value='[[item.data.value]]'-->
    <!--group-id='[[ [item.data.group] ]]'-->
    <!--series-id='[[item.data.series]]'>-->
    <!--</oj-chart-item>-->
    <!--</template>-->
    <!--</oj-chart>-->
  </div>
</div>
