<div class="demo-row-classes  demo-flex-display oj-flex-items-pad">
    <div>
        <oj-input-text value="{{program}}"></oj-input-text>
        <br>
        <!--<oj-messages messages="[[result]]">-->
        <!--</oj-messages>-->
        <div class="message"  data-bind="text: result"></div>
        <oj-button id="submit" on-oj-action="[[handleChange]]">submit script</oj-button>

    </div>
</div>
